<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseDocker" value="true" />
    <add key="SQLServerConnection" value="Data Source=(local);Initial Catalog=master;User Id=SA;Password=__DB_PASSWORD__;Encrypt=False;" />
    <add key="MySQLConnection" value="server=localhost;database=mysql;uid=root;pwd=__DB_PASSWORD__;" />
	<add key="OracleConnection" value="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SID = XE))); User Id = sys;Password=__DB_PASSWORD__;DBA Privilege=SYSDBA" />
  </appSettings>
</configuration>